.container{
  padding: 30px 30px;
  width: 60%;
  height: 200px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: rgb(18, 178, 252);
  justify-content: center;
  }
.form-details {
  background-color: white;
  border-radius: 2px;
  margin-top: 50px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center; 
  padding-top: 40px;
}

fieldset{
  border: 0;
}
legend {
  text-decoration: underline;
}
.form{
  padding: 10px 10px;
  background-color: white;
  height: 80%;
  border-radius: 20px;
}
.table-container{
  background-color: wheat;
}