body {
  background-color: orange;
}

#title {
  text-align: center;
  padding: 10px 0;
}
.home-content-intro {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0 20px;
  width: 60%;
  margin: 0 auto;
}
.services,
.projects{
  margin: 20px auto;
  background-color: white;
  height: auto;
  width: 80%;
  padding: 0 20px 0;
}
.services h1,
.projects h1 {
  padding: 15px;
  padding-left: 20px;
  font-size: 2.3rem;
  width: 100%;
}
.service-cards-panel,
.project-cards-panel{
  width: 100%;
  height: 100%;
  min-height: 270px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  gap: 20px;
}
.service-cards,
.project-cards{
  background-color: black;
  height: 200px;
  width: 100%;
  min-width: 300px;
  border-radius: 5px;
  position: relative; 
  transition: all 0.3s ease-in-out;
}
.service-cards:hover,
.project-cards:hover{
  background-color: gray;
  transform: scale(1.05);
  transition: transform 0.3s ease
}
.service-cards button,
.project-cards button{
  position: absolute;
  bottom: 15px;
  right: 30px;
  padding: 4px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}
.service-cards button:hover,
.project-cards button:hover{
  cursor: pointer;
}


/* Footer Styling */
footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  bottom: 0;
  height: 40px;
  width: 100%;
  padding-right: 20px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.2),
    rgb(250, 242, 227)
  );
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateY(100%);
  opacity: 0;
  border-top: 1px solid wheat;
  font-size: 1.3rem;
}

/* Sign Up and Resgistration Styling*/
.form-container {
  width: 40%;
  height: 90vh;
  float: right;
  display: none;
  align-items: center;
  flex-direction: column;
  margin-right: 30px;
  margin-top: 20px;
  padding: 12px;
  border: 2px solid wheat;
  border-radius: 15px;
  background: transparent;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
}
.form-container form {
  width: 80%;
}
.form-title {
  margin: 15px;
}
.input-group {
  margin: 15px;
}
.input-group label {
  width: 100%;
}
.input-group label input {
  width: 100%;
  height: 30px;
}

.input-name input,
.input-security input,
.submit-btn {
  border: none;
  outline: none;
  height: 30px;
  width: 200px;
  padding-left: 10px;
  margin: 5px 0;
  border-radius: 15px;
  font-size: 1.3rem;
}
.input-security input {
  width: 300px;
}
.label {
  font-size: 1.6rem;
}
hr {
  border: none;
  height: 2px;
  background-color: #ccc;
  margin: 20px 0;
}
.input-container {
  margin-bottom: 30px;
}
.submit-btn {
  font-size: 1.6rem;
  display: block;
  margin: 20px auto;
  transition: background-color 0.3s, opacity 0.3s;
}
.submit-btn:hover {
  background-color: rgb(233, 190, 112);
  cursor: pointer;
}
.submit-btn:focus {
  opacity: 0.7;
}
.form-container p {
  color: #ccc;
  font-size: 1.4rem;
}
.form-container p a {
  text-decoration: none;
  color: white;
  transition: all 0.15s;
}
.form-container p a:hover {
  text-decoration: underline;
  color: wheat;
}
.footer-visible {
  transform: translateY(0);
  opacity: 1;
}

/* Mobile Interface*/
